<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Page Title</title>
    <script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/syntaxhighlighter/styles/shCoreDefault.css" />
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="/static/syntaxhighlighter/scripts/shBrushone.js"></script>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
</head>
<body style="background: white; font-family: Helvetica">

            {{body|safe}}
 

</html>
